<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>博学谷</title>
    <link rel = "stylesheet"  href = "/node_modules/bootstrap/dist/css/bootstrap.css" / >
    <link rel = "stylesheet"  href = "/node_modules/font--awesome/css/font-awesome.css" / >
    <link rel = "stylesheet"  href = "/src/less/index.css" / >
</head>
<body>

</body>
</html>
<script  src="/node_modules/jquery/dist/jquery.js"></script>
<script  src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script  src=""></script>